@model IEnumerable<SportBook.Models.Tournament>

@{
    ViewData["Title"] = "Tournaments";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
    <div class="d-flex">
        <h1>Tournaments</h1>
        <div class="ml-auto col-sm-3 p-0">
            <p>
                <div class="input-group">
                    <input id="myInput" type="text" class="form-control" name="title" placeholder="Search..." style="margin-right:5px">
                    <div class="input-group-append">
                        <button class="btn btn-secondary"><i class="fa fa-search" style="color:white; isolation:isolate"></i></button>
                    </div>
                </div>
            </p>
        </div>
    </div>

<p>
    Create new
    <button style="margin-left:5px" onclick="location.href='@Url.Action("TournamentsCreate", "Admin")'" class="btn btn-secondary"><i class="fa fa-plus" style="color:white; isolation:isolate"></i></button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxParticipantAmt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FkGameTypeNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FkOwnerNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="search">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaxParticipantAmt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FkGameTypeNavigation.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FkOwnerNavigation.Username)
                </td>
                <td>
                    <a asp-action="TournamentsEdit" asp-route-id="@item.TournamentId"><i class="fa fa-edit"></i></a>
                    <a asp-action="TournamentsDetails" asp-route-id="@item.TournamentId"><i class="fa fa-info-circle"></i></a>
                    <a asp-action="TournamentsDelete" asp-route-id="@item.TournamentId"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#search tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>