@model SportBook.ViewModels.InvitationData;

<div class='list-group'>

    @foreach (var item in Model.EventInvitation)
    {

        <a id='@item.EventInvitationId E' href='@item.Url' class='btn list-group-item list-group-item-action mb-1 inviteAccept'>You have been invited to join event: <b>@item.EventName</b></a>

    }

    @foreach (var item in Model.TeamInvitation)
    {

        <a id='@item.TeamInvitationId T' href='@item.Url' class='list-group-item list-group-item-action mb-1 inviteAccept'>You have been invited to join team: <b>@item.TeamName</b></a>
    }
</div>

<script>
    $('body').on('click', '.inviteAccept', function () { PostInvites($(this));});

    function PostInvites(data) {        
        var obj = data.attr('id');
        $.ajax({
            url: "../Home/AcceptInvite",
            type: 'POST',
            method: 'post',
            dataType: 'json',
            data: JSON.stringify(obj),
            contentType: 'application/json',
        })
    }

</script>
