@model SportBook.ViewModels.TournamentData
@{
    ViewData["Title"] = "Tournament";
    Layout = "~/Views/Shared/_EsportsLayout.cshtml";
}

<link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />

<div class="d-flex flex-row">
    <h1 class="p-2">@Html.DisplayFor(model => model.Tournament.Name)</h1>
    @if (Model.TournamentMember == null || Model.TournamentMember.TournamentMemberId == 0)
    {
        if ((Model.Tournament.StartTime < DateTime.Now) || (Model.Tournament.MaxParticipantAmt <= Model.Tournament.TournamentMember.Count))
        {
            <a class="btn btn-secondary ml-auto" data-toggle="popover" data-trigger="hover" data-content="Too late ¯\_(ツ)_/¯" data-target="#myModal">Register</a>
        }
        else
        {
            <a class="btn btn-primary ml-auto" data-toggle="modal" data-target="#myModal">Register</a>
        }
        <form id="tournamentMembForm" method="post" class="col-sm-6 custom-close" data-ajax="true" data-ajax-method="post" data-ajax-complete="completed">
            <div class="modal" id="myModal">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">Select team</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            <div class="form-group">
                                <label asp-for="TournamentMember.FkTeam" class="control-label"></label>
                                <select asp-for="TournamentMember.FkTeam" id="myField" class="form-control" asp-items="Model.Teams"></select>
                            </div>
                        </div>
                        <input type="hidden" asp-for="TournamentMember.FkTournament" value="@Model.Tournament.TournamentId" />
                        @*<input type="hidden" asp-for="TournamentMember.TournamentMemberId" />*@
                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <div class="form-group">
                                <input id="btnSave" type="submit" value="Join" class="btn btn-secondary" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    }
    else
    {
        <form class="p-2" method="post" data-ajax="true" data-ajax-method="post" data-ajax-complete="completedLeave" data-ajax-url="@Url.Action("LeaveTournament", "Esports")">
            <input type="hidden" asp-for="TournamentMember.FkTournament" value="@Model.Tournament.TournamentId" />
            <input type="hidden" asp-for="TournamentMember.TournamentMemberId" />
            <input type="submit" value="Leave" class="btn btn-secondary" />
        </form>
    }

</div>
<h3>@Html.DisplayFor(model => model.Tournament.Description)</h3>

<h4>@Html.DisplayFor(model => model.Tournament.StartTime)</h4>

@if (Model.Tournament.TournamentMember.Count < 2)
{
    <h2 class="text-danger">
        Brackets not ready! Atleast 2 teams need to register!
    </h2>
}
else
{
    <iframe src="@Model.Tournament.TournamentUrl/module" style="width:100%" height="500" frameborder="0" scrolling="auto" allowtransparency="true"></iframe>
}

@section Scripts {
    <script>
        $(document).ready(function () {
            $('[data-toggle="popover"]').popover();
        });

        completed = () => {
            location.reload();
        };

        completedLeave = () => {
            location.reload()
        };


        //(function () {
        //    function displaymsg() {
        //        $("#tournament").modal('hide');
        //    }
        //    document.getElementById('tournament').onsubmit = displaymsg;
        //})();

        $(function () {
            $(".custom-close").on('submit', function () {
                $('#myModal').modal('hide');
            });
        });

    </script>
}