@model SportBook.ViewModels.EventData

@{
    ViewData["Title"] = "ViewEvent";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var currentUser = ViewData["CurrentUser"] as SportBook.Models.User;
}

<h1>ViewEvent</h1>

<div class="d-flex flex-row">
    <div class="d-flex flex-column col-md-2">
        <div class="p-2">
            @Html.DisplayNameFor(model => model.Event.Title)
        </div>
        <div class="p-2">
            @Html.DisplayNameFor(model => model.Event.MaxParticipantAmt)
        </div>
        <div class="p-2">
            @Html.DisplayNameFor(model => model.Event.StartTime)
        </div>
        <div class="p-2">
            @Html.DisplayNameFor(model => model.Event.EndTime)
        </div>
        <div class="p-2">
            @Html.DisplayNameFor(model => model.Event.IsPrivate)
        </div>
        <div class="p-2">
            @Html.DisplayNameFor(model => model.Event.IsTeamEvent)
        </div>
        <div class="p-2">
            @Html.DisplayNameFor(model => model.Event.FkGameTypeNavigation)
        </div>
        <div class="p-2">
            @Html.DisplayNameFor(model => model.Event.FkOwnerNavigation)
        </div>
    </div>
    <div class="d-flex flex-column col-md-2">
        <div class="p-2">
            @Html.DisplayFor(model => model.Event.Title)
        </div>
        <div class="p-2">
            @Html.DisplayFor(model => model.Event.MaxParticipantAmt)
        </div>
        <div class="p-2">
            @Html.DisplayFor(model => model.Event.StartTime)
        </div>
        <div class="p-2">
            @Html.DisplayFor(model => model.Event.EndTime)
        </div>
        <div class="p-2">
            @Html.DisplayFor(model => model.Event.IsPrivate)
        </div>
        <div class="p-2">
            @Html.DisplayFor(model => model.Event.IsTeamEvent)
        </div>
        <div class="p-2">
            @Html.DisplayFor(model => model.Event.FkGameTypeNavigation.Name)
        </div>
        <div class="p-2">
            @Html.DisplayFor(model => model.Event.FkOwnerNavigation.Username)
        </div>
    </div>
    <div class="d-flex flex-column col-md-1"></div>
    @{ int i = 0;
        <div class="d-flex flex-column col-md-2">
            <div class="list-group-flush">
                @foreach (var item in Model.Participants)
                {
                    if (i % 2 == 0)
                    {
                        <div class="p-2 list-group-item">
                            @item.FkUserNavigation.Username
                        </div>
                    }
                    i++;
                }
            </div>
        </div>
        <div class="d-flex flex-column col-md-2">
            <div class="list-group-flush">
                @foreach (var item in Model.Participants)
                {
                    if (i % 2 == 1)
                    {
                        <div class="p-2 list-group-item">
                            @item.FkUserNavigation.Username
                        </div>
                    }
                    i++;
                }
            </div>
        </div>
    }
</div>
<div>
    <form id="submitform" method="post" data-ajax="true" data-ajax-method="post" data-ajax-complete="completed">
        <div class="form-group">
            <input type="hidden" asp-for="NewParticipant.FkUser" value="@currentUser.UserId" />
            <input type="hidden" asp-for="NewParticipant.FkEvent" value="@Model.Event.EventId" />
            <input type="hidden" asp-for="NewParticipant.FkTeam" value="0" />
            <input id="submit" type="submit" value="Join" class="btn btn-primary ml-auto submit" />
        </div>
    </form>
</div>


<script>


    $('document').ready(function () {

        $('#submitform').submit(function (e) {
            e.preventDefault();
            $.ajax({
                data: $('#submitform').serialize(),
                url: '@Url.RouteUrl(new{id=1, action="ViewEvent", controller="Esports"})',
                type: 'POST',
                dataType: 'json',
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    console.log(data);
                    alert("success");
                }
            });
        })
    });

</script>

@*<div>*@
    @*<a asp-action="Edit" asp-route-id="@Model.EventId">Edit</a> |*@
    @*<a asp-action="Esports">Back to List</a>*@
@*</div>*@



