@model SportBook.ViewModels.EventData

@{
    ViewData["Title"] = "ViewEvent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ViewEvent</h1>

<div class="d-flex flex-row">
    <div class="d-flex flex-column col-2">
        <div class="p-2">
            @Html.DisplayNameFor(model => model.Event.Title)
        </div>
        <div class="p-2">
            @Html.DisplayNameFor(model => model.Event.MaxParticipantAmt)
        </div>
        <div class="p-2">
            @Html.DisplayNameFor(model => model.Event.StartTime)
        </div>
        <div class="p-2">
            @Html.DisplayNameFor(model => model.Event.EndTime)
        </div>
        <div class="p-2">
            @Html.DisplayNameFor(model => model.Event.IsPrivate)
        </div>
        <div class="p-2">
            @Html.DisplayNameFor(model => model.Event.IsTeamEvent)
        </div>
        <div class="p-2">
            @Html.DisplayNameFor(model => model.Event.FkGameTypeNavigation)
        </div>
        <div class="p-2">
            @Html.DisplayNameFor(model => model.Event.FkOwnerNavigation)
        </div>
    </div>
    <div class="d-flex flex-column col-2">
        <div class="p-2">
            @Html.DisplayFor(model => model.Event.Title)
        </div>
        <div class="p-2">
            @Html.DisplayFor(model => model.Event.MaxParticipantAmt)
        </div>
        <div class="p-2">
            @Html.DisplayFor(model => model.Event.StartTime)
        </div>
        <div class="p-2">
            @Html.DisplayFor(model => model.Event.EndTime)
        </div>
        <div class="p-2">
            @Html.DisplayFor(model => model.Event.IsPrivate)
        </div>
        <div class="p-2">
            @Html.DisplayFor(model => model.Event.IsTeamEvent)
        </div>
        <div class="p-2">
            @Html.DisplayFor(model => model.Event.FkGameTypeNavigation.Name)
        </div>
        <div class="p-2">
            @Html.DisplayFor(model => model.Event.FkOwnerNavigation.Username)
        </div>
    </div>
    </br>
    <div class="d-flex flex-column col-1"></div>
    @{ int i = 0;
        <div class="d-flex flex-column col-2">
                <div class="list-group-flush">
                    @foreach (var item in Model.Participants)
                    {
                        if (i % 2 == 0)
                        {
                            <div class="p-2 list-group-item">
                                @item.FkUserNavigation.Username
                            </div>
                        }
                        i++;
                    }
                </div>
        </div>
        <div class="d-flex flex-column col-2">
            <div class="list-group-flush">
                    @foreach (var item in Model.Participants)
                    {
                        if (i % 2 == 1)
                        {
                            <div class="p-2 list-group-item">
                                @item.FkUserNavigation.Username
                            </div>
                        }
                        i++;
                    }
            </div>
        </div>
    }
</div>

<div>
    @*<a asp-action="Edit" asp-route-id="@Model.EventId">Edit</a> |*@
    <a asp-action="Esports">Back to List</a>
</div>
